<%db_return.each do |item|%>
	<%= item %><br>
<% end %>
<form method="post" action="">
<button onclick="goBack()">Go Back</button>

<script>
function goBack() {
    window.history.back();
}
</script>
</form>