<!DOCTYPE html>
<html>
<head>
	<title></title>
<style>

</style>
</head>
<body class="background3">
<p class="g">
Please input information to be listed in the phonebook or to search for an existing entry:</p>
<center>
<form method="post" action="input_info">
    <input type="text" name="data[]" placeholder="FirstName" autofocus required>
    <input type="text" name="data[]" placeholder="LastName" required><br>
    <input type="text" name="data[]" placeholder="Street" required>
    <input type="text" name="data[]" placeholder="City" required><br>
    <input type="text" name="data[]" placeholder="State" required>
    <input type="text" name="data[]" placeholder="Zip" minlength="5" maxlength="5" required><br>
<div class="o"><br>(Continental US Numbers Only)</br></div>
    <input type="text" name="data[]" placeholder="Phone" minlength="10" maxlength="10" required><br>
<br><input type="text" name="data[]" placeholder="Email" required>
</center>
<p class="h">Select "Next" to view your new entry in the phonebook.</p>
<div class="j">If you're searching for an entry, you will be directed to a page to either make updates or delete an existing entry.</div>
<br>
<center>
    <input type="submit" value="Next">
</center>
</form>

<center><h1>Select "Previous Page" to return to the previous page you visited:</h1>

<button onclick="goBack()">Previous Page</button>
</center>
<script>
function goBack() {
    window.history.back();
}
</script>
</body>
</html>