.background1 {
    background-image: url(/img/phone_with_book.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.background2 {
    background-image: url(/img/address_book.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.background3 {
    background-image: url(/img/organizer.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.background4 {
    background-image: url(/img/add_book.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.background5 {
    background-image: url(/img/address.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
	color: #00cc00;/*green*/
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
	text-align: center;
	font-weight: bold;
}

h2 {
	color: #ff0000;/*red*/
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
	text-align: center;
	font-weight: bold;
}

h3 {
	color: #ff0000;/*red*/
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
	text-align: center;
	font-weight: bold;
}

h4 {
	color: #00ff00;/*green*/
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; 
	text-align: center;
	font-weight: bold;
}

p.b {
	font-size: 3.5rem;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #ffff00;/*yellow*/
	text-shadow:5px 5px 10px black;
}

p.c {
	font-size: 2.5rem;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #ff0000;/*red*/
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	padding-top: 275px;
}

p.d {
	font-size: 2.5rem;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #00ff00;/*green*/
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	padding-top: 2.5px;
}

p.e {
	font-size: 2.5rem;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #ffff00;/*yellow*/ 
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	padding-top: 25px;
}

p.f {
	font-size: 1.30rem;
	font-weight: bold;
	text-align: left;
	*/
	position: absolute;
    background-color: white;
    color: #e60000;/*red*/
    padding-left: 200px;
    padding-right: 20px;
}

p.g {
	font-size: 2rem;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #002266;/*black*/ 
	/*text-shadow:5px 5px 10px black;*/
	/*text-shadow:5px 5px 10px blue;*/
	/*text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p.h {
	font-size: 1.75rem;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #002266;/*dark blue*/ 
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.j {
	font-size: 1.60rem;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #ff0000;/*red*/ 
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.k {
	font-size: 1.75rem;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #00cc00;/*green*/ 
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

p.m {
	font-size: 1.50rem;
	font-weight: bold;
	text-align: left;
	color: #00cc00;/*green*/
    padding-left: 200px;
    padding-right: 20px; 
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

p.n {
	font-size: 2.5rem;
	font-weight: bold;
	font-style: italic;
	text-align: center;
	color: #ff0000;/*red*/
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.o {
	font-size: 1.25rem;
	font-weight: bold;
	color: #ff0000;/*red*/
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

li {
	display: inline;
	font-size: 1.5rem;
	text-align: center;
	padding-right: 1rem;
	padding-left: 1rem;
}

ul {
	font-size: 1.5rem;
	font-style: italic;
	font-weight: bold;
	text-align: left;
}

a:hover {
    background-color: yellow;
}

